.layout
  &__content
    width 90%
    max-width 700px
    margin 2em auto

.notification__container
  pointer-events none
  position absolute
  top 0
  right 0
  bottom 0
  width 50%
  max-width 20em
  display flex
  flex-direction column
  justify-content flex-end
  z-index 1

  .notification
    margin 1em
    padding 1em
    background forestgreen
    font-size .9em
    font-weight bold
    color white
    border-radius 3px