.switch
  background red

  &__input
    display none

  &__visual
    position relative

    &-track
      position absolute
      top 0
      left 0
      width 3em
      height 2em
      background red

    &-knob
      position absolute
      top 0
      left 0
      width 2em
      height 2em
      background green
