.digests-page
  font-size 1em

  .digests__loading
    margin 2em

  .digests__list
    margin 2em 0

  .digests__item
    display flex
    justify-content space-between
    align-items center
    padding 1em

  p
    margin 1em 0
