.editor-page
  width 90%
  max-width 700px
  margin 2em auto

  form
    & > button
      font-size 18px
      padding .3em 1em
      border none
      background #69003f
      color white
      border-radius .2em
      &:disabled
        background #CCC


.form-field
  display flex
  flex-direction column
  margin 1em 0

  label
    font-size 12px

  input, button
    font-size 1rem
    padding .2em

.multiselect
    &__choice
      margin .5em

      label
        margin .2em
        font-size .9em
        text-transform capitalize
        user-select none

.notification
  margin 1em 0
  padding 1em
  background: #ffffd7
  border 1px solid #ffe8bb
  border-radius .5em

  &--error
    margin 1em 0
    padding 1em
    background red
    color white

  p
    margin 1em 0

  code
    padding .3em
    background #EEE
    color #555

.buttonlink
  display inline-flex
  align-items center
  background transparent
  border 1px solid #AAA
  border-radius .5em
  text-decoration none
  color #555
  padding .5em
  margin 1em 0
  font-weight bold
  transition all 250ms
  &:hover
    background #EAEAEA
    color #222

  img
    width 1.5em
    height 1.5em
    margin 0 .5em 0 0
