*
  margin 0
  padding 0
  box-sizing border-box

html, body
  height 100%

body
  font 16px sans-serif
  color #333
  background white

h1,h2,h3,h4,h5,h6
  font-weight normal
h1
  font-size 2.2em

a
  color #69003f
  font-weight bold
  text-decoration none

.wrapper
  & > header
    display flex
    align-items center
    justify-content space-between
    background #69003f
    padding 1em
    color white
    h1
      font-size 1.8em
    a
      padding .5em
      color #CCC
      &.active, &:hover
        text-decoration underline
        color white

  & > footer
    position absolute
    left 0
    bottom 0
    right 0
    padding 1em
    background white
    color #333
    font-size: .9em
